
.home{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 2em;
}
.navbar{
  background-color: rgb(192, 189, 189);
  padding: 5px;
  width: 100%;
 
}
.nav-link:hover{
  color: blue;
  

}

.sku{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;

}
